.modalBackgroundPrint {
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(200, 200, 200); */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerPrint {
  width: 250px;
  height: 500px;
  border-radius: 12px;
  background-color: #1F1D2B;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 950px;
  margin-top: -1000px;
}

.modalContainerPrint .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtnPrint {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtnPrint button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainerPrint .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainerPrint .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainerPrint .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

/* #cancelBtn {
  background-color: crimson;
} */

#noBtnPrint {
  background-color: crimson;
}
