@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
*{
    /* color: white; ---------------------------------------------------------------------- */    
}
body {
    background: #1F1D2B;
  }

  .subsystemTitle{
    color:#FFFFFF;
    font-size: 35px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    /* border: 3px solid green; */

  }

    /* sds */
  /* #ip1 {
    border-radius: 18px;
    background: #FFFFFF;
    padding: 20px; 
    width: 200px;
    height: 15px;    
    color: black;
  
   
} */

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #marseeyslogo{
    height:auto;
    width:30%;
  }

  #marseeysicon{
     height:auto;
    width:60%;
    margin-left: 25px;
    margin-top: 20px;
     margin-bottom: 20px;
    
  }

  #orderIcon{
    height:auto;
    width:60%;
    margin-left: -32px;
      margin-bottom: 20px;
  }


    #pendingIcon{
    height:auto;
    width:70%;
    margin-left: -35px;
      margin-bottom: 20px;
  
  }

      #draftIcon{
    height:auto;
    width:55%;
    margin-left: -28px;
      margin-bottom: 20px;
  
  }

     #historyIcon{
    height:auto;
    width:68%;
    margin-left: -33px;
      margin-bottom: 20px;
  
  }

     #discountsIcon{
    height:auto;
    width:90%;
    margin-left: -40px;
      margin-bottom: 20px;
  
  }

  /* #arcreditIcon{
    height:auto;
    width:37%;
    margin-left: 12px;

  } */

    #logoutIcon{
    height:auto;
    width:50%;
    margin-left: -25px;
     margin-top: 48px;

  }

  .timeDisplay{
     color:#FFFFFF;
    font-size: 60px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin-top: 2px;

  }

    .dateDisplay{
     color:#FFFFFF;
    font-size: 27px;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: left;
    margin-top: -80px;

  }

 



  /* for sidebar size */

    /* .MuiDrawer-paper {
 width: 10% !important;
 } */

     /* .MuiDrawer-fullList {
  width: "auto" !important;
 }

     .MuiDrawer-list {
 width: 50% !important;
 } */





  